.hero-section {
  position: relative;

  padding-top: 224px;
  padding-bottom: 128px;

  background-color: var(--OceanBlue-50);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(
      126deg,
      rgba(17, 48, 77, 0.8) 19.11%,
      rgba(17, 48, 77, 0) 86.23%
    );
  }

  @media screen and (min-width: 1280px) {
    padding-top: 301px;
    padding-bottom: 0;
  }
}

// .hero__video-cover {
//   position: absolute;
//   top: 0;
//   left: 0;
//   background: linear-gradient(
//     126deg,
//     rgba(17, 48, 77, 0.8) 19.11%,
//     rgba(17, 48, 77, 0) 86.23%
//   );
// }

// .video-wrapper {
/* Telling our absolute positioned video to 
  be relative to this element */

//   width: 1279px;
//   height: 745px;

/* Will not allow the video to overflow the 
  container */
//   overflow: hidden;

/* Centering the container's content vertically 
  and horizontally */
//   text-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   background: linear-gradient(
//     126deg,
//     rgba(17, 48, 77, 0.8) 19.11%,
//     rgba(17, 48, 77, 0) 86.23%
//   );
// }

video {
  /** Simulationg background-size: cover */
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.hero-container {
  //   margin: 0;
  position: relative;
  z-index: 5;

  @media screen and (min-width: 624px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 7.6%;
  }
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
.hero__text-wrapper {
  width: 256px;

  margin-bottom: 16px;

  color: var(--BaseBlue-50);
  @media screen and (min-width: 624px) {
    width: 0;
    min-width: 256px;

    // margin-right: 48px;
    // margin-right: calc(100% - 256px);

    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 914px;
    margin-bottom: 126px;
  }
}

.hero-title {
  margin-bottom: 8px;

  @include font(700, 32px, 38.4px);

  @media screen and (min-width: 1280px) {
    @include font(700, 66px, 66px);
    margin-bottom: 24px;
  }
}

.hero__sub-title {
  @include font(400, 16px, 20.8px);
  text-transform: uppercase;
}
// .hero__slider-wrapper {
//   position: relative;
// }

.hero__slide {
  display: flex;
  //   flex-direction: row;
  min-width: 256px;
  height: 175px;
  @media screen and (min-width: 624px) {
    justify-content: start;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
    width: 576px;
    // position: absolute;
    // top: 0;
    // right: -52px;
  }
}

.slide__text-side {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  width: 50%;
  padding: 16px;

  color: var(--White-100);
  background-color: var(--SeaBlue-700);

  &::after {
    position: absolute;
    content: url("../../img/hero/slide-vector.png");
    width: 366px;
    height: 238px;
    z-index: 9;

    // background-image: url("../../img/sprite.svg#slide-svg");

    // background-image: url("../../img/hero/slide-vector.png");
    // background-repeat: no-repeat;
    // fill: var(--White-10, rgba(255, 255, 255, 0.1));

    right: -238px;
    bottom: -62px;
  }
}

.slide__title {
  @include font(700, 16px, 20.8px);
}

.slide__text {
  @include font(400, 14px, 18.2px);
  color: rgba(255, 255, 255, 0.5);
}

.slide__img-side {
  position: relative;
  width: 50%;
}

.swiper-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 50%;
}

.slide__img {
  object-fit: cover;

  min-width: 128px;
  height: 175px;
}

.swiper-icons {
  padding: 8px;
  border-radius: 99px;
  border: 1px solid var(--BaseBlue-50);
}

.hero__swipe-btns-svg {
  fill: var(--BaseBlue-50);
}
