.hero-section {
  position: relative;
  margin-top: 80px;

  padding-top: 224px;
  padding-bottom: 128px;

  background-color: rgba(17, 48, 77, 0.8);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(
      126deg,
      rgba(17, 48, 77, 0.8) 19.11%,
      rgba(17, 48, 77, 0) 86.23%
    );
  }

  @media screen and (min-width: 1280px) {
    padding-top: 301px;
    padding-bottom: 0;
  }
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}
.hero-container {
  position: relative;
  z-index: 5;

  @media screen and (min-width: 624px) {
    align-items: center;
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: block;
  }
}
.hero__text-wrapper {
  margin-bottom: 16px;

  color: var(--BaseBlue-50);
  @media screen and (min-width: 624px) {
    width: 50%;
    margin-right: 48px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 916px;
    margin-bottom: 126px;
  }
}

.hero-title {
  margin-bottom: 8px;

  @include font(700, 32px, 38.4px);

  @media screen and (min-width: 1280px) {
    @include font(700, 66px, 66px);
    margin-bottom: 24px;
  }
}

.hero__sub-title {
  @include font(400, 16px, 20.8px);
  text-transform: uppercase;
  @media screen and (min-width: 1280px) {
    @include font(400, 20px, 26px);
  }
}

.hero__swiper {
  @media screen and (min-width: 624px) {
    display: flex;
    justify-content: end;
    width: 50%;

    margin: 0;
  }

  @media screen and (min-width: 1280px) {
    max-width: 576px;
    margin-left: auto;
  }
}

.hero__slide {
  display: flex;
  @media screen and (min-width: 624px) {
    justify-content: start;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
    width: 576px;
  }
}

.slide__text-side {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: start;

  min-width: 50%;
  padding: 16px;

  color: var(--White-100);
  background-color: var(--SeaBlue-700);

  &::after {
    position: absolute;
    content: url("../img/hero/slide-vector.png");
    width: 366px;
    height: 238px;
    z-index: 9;

    right: -238px;
    bottom: -62px;
  }
  @media screen and (min-width: 1280px) {
    padding: 24px;
  }
}

.slide__title {
  margin-bottom: 10%;
  @include font(700, 16px, 20.8px);

  @media screen and (min-width: 1280px) {
    @include font(700, 20px, 26px);
  }
}

.first-slide__title {
  margin-bottom: 30px;
  @media screen and (min-width: 440px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 624px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 863px) {
    margin-bottom: 40px;
  }
}
.second-slide__title {
  margin-bottom: 30px;
  @media screen and (min-width: 440px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 624px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 863px) {
    margin-bottom: 40px;
  }
}

.third-slide__title {
  margin-bottom: 20px;
  @media screen and (min-width: 352px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 624px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 687px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.fourth-slide__title {
  margin-bottom: 10px;
  @media screen and (min-width: 358px) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 358px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 524px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 585px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 624px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 727px) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 1031px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
}

.fifth-slide__title {
  margin-bottom: 20px;
  @media screen and (min-width: 405px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 624px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 687px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 808px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 993px) {
    margin-bottom: 20px;
  }
}

.sixth-slide__title {
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.slide__text {
  @include font(400, 14px, 18.2px);
  color: rgba(255, 255, 255, 0.5);
  @media screen and (min-width: 1280px) {
    @include font(400, 16px, 20.8px);
  }
}

.slide__text-short {
  @include font(400, 14px, 18.2px);
  color: rgba(255, 255, 255, 0.5);

  @media screen and (min-width: 510px) {
    display: none;
  }
  @media screen and (min-width: 624px) {
    display: inline-block;
  }
  @media screen and (min-width: 808px) {
    display: none;
  }
}

.slide__text-extended {
  display: none;
  @media screen and (min-width: 510px) {
    display: inline-block;
    @include font(400, 14px, 18.2px);
    color: rgba(255, 255, 255, 0.5);
  }
  @media screen and (min-width: 624px) {
    display: none;
  }
  @media screen and (min-width: 808px) {
    display: inline-block;
  }
}

.slide__img-side {
  position: relative;
  min-width: 50%;
}

.slide__img {
  object-fit: cover;

  min-width: 128px;
  height: 175px;
}

.swiper-buttons {
  position: absolute;
  display: flex;

  justify-content: space-between;
  z-index: 999;
  right: 0px;
  width: 50%;
  bottom: 70px;
}

.swiper-icons {
  padding: 8px;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 99px;
  border: 1px solid var(--BaseBlue-50);
  cursor: pointer;
}

.hero__swipe-btns-svg {
  fill: var(--BaseBlue-50);
}

.hero__pagination {
  position: absolute;
  width: 98px !important;
  left: 16px !important;
  @media screen and (min-width: 1280px) {
    left: 24px !important;
  }
}

.swiper-pagination-horizontal {
  width: 94px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 6px;
  border-radius: 8px;
  background-color: var(--SeaBlue-50);

  transition: width 0.5s;
}

.swiper-pagination-bullet-active {
  width: 34px;
  height: 6px;
  border-radius: 8px;
  background: var(--LightBlue-300);
}
